{% block party %}

<a name="party"></a>
<div class="party">
    <h1>Wedding Party</h1>
    <div>
        <h3>Parents of Bride</h3>
        <h4>Augusto Egoavil</h4>
        <h4>Laly Egoavil</h4>

        <h3>Brides Maides</h3>
        <h4>Anna Cristina Ojeda</h4>
        <h4>Elizabeth Myer</h4>
    </div>
    <div>
        <h3>Parents of Groom</h3>
        <h4>Dan Wilson</h4>
        <h4>Nannette Schmitt</h4>

        <h3>Groomsmen</h3>
        <h4>Aaron Brown</h4>
        <h4>Stephan Parkhurst</h4>
        <h4>James Jensen</h4>
    </div>
</div>

{% endblock %}
