{% block registry %}

<a name="registry"></a>
<div class="registry">
    <h1>Registry Information</h1>
    <p>Your presence on our big day is more than enough.<br>
        However, if you're feeling in a giving mood, please visit the site below where
        you will find a list of things that will help to make our house a home and
        also allow us to think of you fondly from time to time.</p>
</div>

<div class="regPics">
    <a href="https://www.zola.com/registry/leonorandshane" target="_blank">
        <img src="static/home/pics/zola.png">
    </a>
</div>

{% endblock %}
