{% block travel %}

<a name="travel"></a>
<div class="accomodations">
    <h1>Travel and Accomodation</h1>
    <div>
        <h3>Book a Hotel</h3>
        <img src="static/home/pics/hotel.jpg">
        <button id="details1" type="button">View Details</button>
    </div>
    <div>
        <h3>Cocktail Party</h3>
        <img src="static/home/pics/cocktailParty.jpeg">
        <button id="details2" type="button">View Details</button>
    </div>
    <div>
        <h3>Popular Attractions</h3>
        <img src="static/home/pics/miami.jpg">
        <button id="details3" type="button">View Details</button>
    </div>
</div>

<span id="popup4" autofocus>
<button id="close">X</button>
    <h3>
        There are several good choices for quality and unique hotels in the South Florida
        area. I've comprised a little list of a few popular ones that you're welcome to
        book a room with. These are merely suggestions however.
    </h3>
    <img class="hotelImg" src="static/home/pics/marriott.jpg">
    <p>
        First on our list, we have the JW Marriott. Located in the heart
        of Brickell, there's no shortage of activities within walking distance.
        It is where the groom and bride will be staying. We have a block of rooms
        available starting at $279 per night. Contact Leo or myself if you would
        like more information or would like to join our party.
    </p>
    <a href="http://www.marriott.com/hotels/travel/miajw-jw-marriott-miami/">Website</a>
    | Reserve: 305-329-3500

    <img class="hotelImg" src="static/home/pics/biltmore.jpg">
    <p>
        Second, we have the historic Biltmore Hotel. Located in Coral Gables,
        this is the closest lodging between the ceremony and reception. The Biltmore 
        boasts the largest hotel pool in the United States and one of the finest golf 
        courses.
    </p>
    <a href="http://www.biltmorehotel.com/">Website</a>
    | Reserve: 855-311-6903

    <img class="hotelImg" src="static/home/pics/fontainebleau.jpg">
    <p>
        If you're looking to stay closer to the beach, another iconic hotel to consider
        is the Fontainebleau. Located right in South Beach, it's a popular hotel for
        tourists and beach-goers alike. The Fontainebleau also contains Club LIV, being
        named one of the hottest nightclubs in the city.
    </p>
    <a href="https://fontainebleau.com/">Website</a>
    | Reserve: 800-548-8886

    <img class="hotelImg" src="static/home/pics/east.jpg">
    <p>
        EAST is a hotel located downtown Miami in Brickell City Centre. Opening in 2016,
        EAST is branded as a luxary hotel with several restaurants and a rooftop bar.
    </p>
    <a href="http://www.east-miami.com/">Website</a>
    | Reserve: 305-712-7000

    <h3>Some Cheaper Options Close to the Party</h3>
    <br>

    <p>
        Leamington Hotel<br>
        <a href="http://www.leamingtonhotel.com/">Website</a>
        | Reserve: 305-373-7783
    </p><br>
    <p>
        Courtyard by Marriott Miami<br>
        <a href="http://www.marriott.com/hotels/travel/miadt-courtyard-miami-downtown-brickell-area/">Website</a>
        | Reserve: 305-374-3000
    </p><br>
    <p>
        River Park Hotel and Suites<br>
        <a href="http://riverparkmiami.com/">Website</a>
        | Reserve: 305-374-5100
    </p><br>
</span>

<span id="popup5" autofocus>
<button id="close">X</button>
    <h3>Bulla Gastrobar</h3>
    <img id="bullaImg" src="static/home/pics/bulla.png">
    <p>
        Our event is an adults only, black tie invited, evening cocktail party.<br><br>
        Bulla, pronounced {boo-yah}, is a Madrid inspired tapas bar, with a variety of
        entres ranging from smaller shared plates to larger paella dishes for the hungrier
        guest.<br>They also boast a nice selection of hand-crafted cocktails and an
        impressive wine list.<br>Ultimately, we feel like there is something here for
        everyone to enjoy.<br><br>If you're interested, feel free to check out the
        <a href="http://bullagastrobar.com/menus/coral-gables/" target="_blank">Menu</a>
        before hand!
    </p>
</span>

<span id="popup6" autofocus>
    <button id="close">X</button>
    <h3>Whether you're arriving early or staying later, we've comprised a short list of
        local attractions you may be interested in checking out!</h3><br><br>

    <img class="attractImg" src="static/home/pics/sobe.jpg">
    <p>
        South Beach<br>
        501-1699 Collins Ave Miami Beach, FL 33139<br>
        <a href="http://www.miamiandbeaches.com/places-to-see/
        south-beach-art-deco-district" target="_blank">More Info</a>
    </p>

    <img class="attractImg" src="static/home/pics/bayside.jpg">
    <p>
        Bayside Market Place<br>
        401 Biscayne Blvd, R106, Miami, FL 33132<br>
        305-577-3344 |
        <a href="http://www.baysidemarketplace.com/" target="_blank">Website</a>
    </p>

    <img class="attractImg" src="static/home/pics/walls.jpg">
    <p>
        Wynwood Walls<br>
        2520 NW 2nd Ave, Miami, FL 33127<br>
        305-531-4411 |
        <a href="http://www.thewynwoodwalls.com/" target="_blank">Website</a>
    </p>

    <img class="attractImg" src="static/home/pics/vizcaya.jpg">
    <p>
        Vizcaya Museum and Gardens<br>
        3251 S Miami Ave, Miami, Florida 33129<br>
        305-250-9133 |
        <a href="http://vizcaya.org/" target="_blank">Website</a>
    </p>

    <img class="attractImg" src="static/home/pics/seaquarium.JPG">
    <p>
        Miami Seaquarium<br>
        4400 Rickenbacker Causeway, Miami, FL 33149<br>
        (305) 361-5705 |
        <a href="https://www.miamiseaquarium.com/" target="_blank">Website</a>
    </p>

    <img class="attractImg" src="static/home/pics/jungle.jpg">
    <p>
        Jungle Island Adventure Park<br>
        1111 Parrot Jungle Trail, Miami, FL 33132<br>
        (305) 400-7000 |
        <a href="https://www.jungleisland.com/" target="_blank">Website</a>
    </p>
</span>

{% endblock %}
